.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1% 40%;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

/* .result {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1% 40%;
  justify-content: center;
  gap: 5px;
  text-align: center;
} */
